/*=============================================
=                Stylesheet Main              =
=============================================*/
/*----------  Imports  ----------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a:focus, button:focus {
  outline: none; }

/*=============================================
=                   Colors                    =
=============================================*/
/*=============================================
=                  Typography                 =
=============================================*/
*, h1, h2, h3, h4, h5, h6, p, a, small {
  font-family: 'helvetica neue', sans-serif;
  font-weight: 400; }

h1 {
  color: #fcfcfc;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.3rem; }

.dark {
  color: #30363f; }

h2 {
  font-size: 1.4rem;
  color: #ffac37;
  font-weight: 400;
  padding-bottom: 1.4rem; }

p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 28px 70px 10px 0; }

.light {
  color: #fcfcfc; }

small {
  font-size: 0.75rem;
  color: #fcfcfc;
  opacity: 0.3;
  line-height: 1; }

span {
  font-weight: 600; }

a {
  color: #fcfcfc;
  font-size: 0.8rem;
  font-weight: 400; }

a:hover {
  color: #ffac37; }

.active a {
  color: #ffac37;
  padding-bottom: 24px;
  font-weight: 600;
  border-bottom: 3px solid #ffac37; }

li {
  color: #fcfcfc; }

body {
  background-color: #30363f; }

/*=============================================
=                Header / Nav                 =
=============================================*/
header {
  width: 100%;
  height: 72px;
  background-color: #3b434e;
  position: absolute;
  z-index: 20; }

.container {
  width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container-nav {
  height: 72px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1080px;
  overflow: hidden;
  justify-content: space-between; }
  .container-nav .logo {
    flex-grow: 2; }
    .container-nav .logo img {
      width: 150px;
      padding-top: 6px; }

nav {
  display: inline-block;
  margin: 0 14px;
  flex-shrink: 2; }
  nav ul {
    list-style-type: none; }
  nav li {
    display: inline-block;
    padding: 0 16px; }

.login {
  display: inline-block;
  font-weight: 700;
  padding: 16px 22px;
  border-left: 1px solid #30363f; }

.signup {
  border-radius: 24px;
  padding: 10px 26px;
  font-weight: 700;
  border: 1px solid #ffac37;
  transition: all 0.6s; }
  .signup:hover {
    color: #3b434e;
    background-color: #ffac37; }

/*----------  Mobile Nav  ----------*/
#menu {
  height: auto;
  width: 100%;
  z-index: 2;
  position: absolute;
  background-color: #3b434e;
  text-align: center;
  padding: 30px 0 60px; }
  #menu ul {
    list-style-type: none; }
  #menu li {
    padding: 10px 0; }
    #menu li a {
      font-size: 2rem; }
    #menu li .login {
      border: none;
      font-size: 1.4rem;
      margin: 6px 0 0; }
    #menu li .signup {
      font-size: 1rem;
      margin: 0; }

#hamburger {
  height: 36px;
  width: 36px; }

.hidden, #nav-toggle {
  display: none; }

#nav-toggle span {
  right: 30px;
  top: 34px;
  position: absolute; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: #ffac37;
  position: absolute;
  display: block;
  content: ''; }
  #nav-toggle span:active,
  #nav-toggle span:before:active,
  #nav-toggle span:after:active {
    background: #fcfcfc; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

/*=====  End of Header / Nav  ======*/
/*=============================================
=           Sections Shared Styles            =
=============================================*/
section {
  width: 100%;
  display: flex; }

.text-content {
  width: 50%;
  align-self: center; }

button {
  margin: 0;
  display: block;
  font-weight: 500;
  color: #30363f;
  background: none;
  font-size: 0.8rem;
  border-radius: 50px;
  padding: 16px 52px;
  margin: 32px 0 20px;
  transition: all 0.4s;
  border: 2px solid #30363f; }
  button:hover {
    color: #eceae7;
    background-color: #30363f; }

/*=====  End of Sections Shared Styles  ======*/
/*=============================================
=                  Jumbotron                  =
=============================================*/
#jumbotron {
  height: auto;
  padding: 140px 0 80px 0; }
  #jumbotron ul {
    font-size: 0.8rem;
    padding: 18px; }
  #jumbotron li {
    padding-bottom: 8px; }
  #jumbotron button {
    color: #fcfcfc;
    background-color: #4095f6;
    border: none; }
    #jumbotron button:hover {
      background-color: #417dc2; }

#hero-image {
  top: 70px;
  left: 50%;
  width: 50%;
  height: 600px;
  position: absolute;
  background-image: url("../images/hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left 10%; }

/*=====  End of Jumbotron  ======*/
/*=============================================
=               Secure Section                =
=============================================*/
#secure {
  height: auto;
  background-color: #eceae7; }
  #secure .container {
    background-image: url("../images/safe.png");
    background-position: top 100px right 10%;
    background-repeat: no-repeat;
    padding: 100px 30px 80px; }
  #secure .text-content {
    width: 65%; }
  #secure p {
    padding-right: 170px; }

/*=====  End of Secure Section  ======*/
/*=============================================
=                 App Section                 =
=============================================*/
#apps {
  height: auto;
  background-color: #e0e0de; }
  #apps .container {
    padding: 80px 30px;
    background-image: url("../images/drive.png");
    background-position: top 50px left 10%;
    background-repeat: no-repeat; }
  #apps .text-right {
    display: flex;
    justify-content: flex-end; }
  #apps .text-content {
    width: 51%; }

/*=====  End of App Section  ======*/
/*=============================================
=              Download Section               =
=============================================*/
#download {
  height: auto;
  background-color: #30363f; }
  #download .container {
    padding: 100px 30px;
    background-image: url("../images/download.png");
    background-position: top 50px right 10%;
    background-repeat: no-repeat; }
  #download .text-content {
    width: 50%; }
  #download p {
    padding-right: 70px; }
  #download button {
    color: #fcfcfc;
    border: 2px solid #fcfcfc; }
    #download button:hover {
      color: #30363f;
      background-color: #fcfcfc; }

/*=====  End of Download Section  ======*/
/*=============================================
=                Trail Section                =
=============================================*/
#trial {
  height: auto;
  padding: 60px 0;
  background-color: #4095f6; }
  #trial .text-content {
    width: 70%; }
  #trial button {
    color: #fcfcfc;
    border: 2px solid #fcfcfc; }
    #trial button:hover {
      color: #4095f6;
      background-color: #fcfcfc; }

/*=====  End of Trail Section  ======*/
/*=============================================
=                Footer Section               =
=============================================*/
footer {
  padding: 50px 0;
  height: auto;
  width: 100%;
  font-weight: 400;
  background-color: #3b434e; }
  footer ul {
    list-style-type: none; }
  footer .container-footer {
    padding: 0 30px;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  footer .logo {
    margin: 0 auto; }
    footer .logo img {
      width: 150px;
      padding-top: 6px; }
  footer .footer-left {
    flex: 1;
    padding: 6px 100px;
    opacity: 0.8;
    margin: 0 auto; }
    footer .footer-left li {
      padding: 6px 0; }
      footer .footer-left li a {
        font-size: 1rem; }
  footer .footer-right {
    font-size: 0.8rem;
    display: flex;
    margin: 0 auto; }
    footer .footer-right .right-1, footer .footer-right .right-2 {
      padding: 0 0 0 72px; }
      footer .footer-right .right-1 li, footer .footer-right .right-2 li {
        padding: 6px 0; }

.copyright {
  height: auto;
  width: 100%;
  padding: 10px 0;
  background-color: #30363f; }
  .copyright ul {
    list-style-type: none; }
  .copyright li {
    display: inline-block;
    padding: 6px 12px; }
    .copyright li a {
      font-size: 0.7rem;
      opacity: 0.6; }

/*=====  End of Footer Section  ======*/
/*----------  Break Point 1 - 880px  ----------*/
@media only screen and (max-width: 880px) {
  nav, .user {
    display: none; }
  #nav-toggle {
    display: block; }
  h1 {
    font-size: 2.7rem;
    line-height: 3rem;
    padding-bottom: 1rem; }
  #hero-image {
    display: none; }
  #jumbotron .container, #secure .container, #apps .container, #download .container {
    background-image: none; }
  #jumbotron .text-content, #secure .text-content, #apps .text-content, #download .text-content {
    width: 100%; }
  #jumbotron {
    background-image: url("../images/hero-mobile.png");
    background-position: top 120px right -60px;
    background-repeat: no-repeat;
    background-size: 430px; }
    #jumbotron .text-content {
      width: 70%; }
  #secure p {
    padding-right: 40px; }
  #apps {
    background-image: url("../images/app-mobile.png");
    background-position: top 140px right 30px;
    background-repeat: no-repeat;
    background-size: 280px; }
    #apps .container {
      padding: 40px 30px; }
    #apps .text-content {
      width: 70%; }
      #apps .text-content p {
        padding-right: 120px; }
    #apps .text-right {
      justify-content: flex-start; }
  #trial {
    text-align: center; }
    #trial .text-content {
      width: 100%; }
    #trial .container {
      flex-wrap: wrap;
      justify-content: center; }
  .container-footer {
    flex-direction: column; }
  .footer-left ul {
    text-align: center; }
    .footer-left ul li {
      display: inline-block;
      padding: 6px; }
      .footer-left ul li a {
        font-size: 0.7rem; }
  .footer-right > .right-1, .right-2 {
    display: none; }
  .copyright .container {
    display: block;
    margin: 0 auto;
    text-align: center; } }

/*----------  Break Point 2 - 740px  ----------*/
@media only screen and (max-width: 740px) {
  #jumbotron {
    background-position: top 140px right -160px; } }

/*----------  Break Point 3 - 600px  ----------*/
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1rem;
    padding: 0 90px 10px 0; }
  #jumbotron {
    padding: 100px 0 80px 0;
    background-position: top 160px right -230px; }
    #jumbotron .text-content {
      width: 100%; }
    #jumbotron ul {
      padding: 18px 135px 10px 18px; }
    #jumbotron button {
      margin: 30px auto; }
  #secure, #download {
    text-align: center; }
    #secure .container, #download .container {
      padding: 40px 30px; }
    #secure p, #download p {
      padding-right: 0px; }
    #secure button, #download button {
      margin: 30px auto; }
  #apps {
    background-image: url("../images/app-mobile.png");
    background-position: top 130px right -100px; }
    #apps .text-content {
      width: 100%; }
      #apps .text-content p {
        padding-right: 150px; } }

/*----------  Break Point 4 - 440px  ----------*/
@media only screen and (max-width: 440px) {
  #apps {
    background-position: top 200px right -100px; }
    #apps button {
      margin: 70px auto 30px; } }
