/*=============================================
=                Stylesheet Main              =
=============================================*/
/*----------  Imports  ----------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*=============================================
=                   Colors                    =
=============================================*/
/*=============================================
=                  Typography                 =
=============================================*/
*, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'helvetica neue', sans-serif;
  font-weight: 400; }

h1 {
  color: #fcfcfc;
  font-weight: 300;
  font-size: 3rem;
  line-height: 3.3rem;
  padding-bottom: 1.2rem; }

.dark {
  color: #30363f; }

h2 {
  font-size: 1.4rem;
  color: #ffac37;
  font-weight: 400;
  padding-bottom: 1.4rem; }

p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 10px 70px 10px 0; }

small {
  font-size: 0.8rem;
  color: #fcfcfc;
  opacity: 0.2;
  padding-bottom: 1.4rem; }

span {
  font-weight: 600; }

a {
  color: #fcfcfc;
  font-size: 0.8rem;
  font-weight: 400; }

a:hover {
  color: #ffac37; }

.active a {
  color: #ffac37;
  padding-bottom: 24px;
  font-weight: 600;
  border-bottom: 3px solid #ffac37; }

li {
  color: #fcfcfc; }

body {
  background-color: #30363f; }

/*=============================================
=                Header / Nav                 =
=============================================*/
header {
  width: 100%;
  height: 72px;
  background-color: #3b434e; }

.container {
  width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container-nav {
  height: 72px; }

.logo {
  flex: 2; }
  .logo img {
    width: 150px;
    padding-top: 6px; }

nav {
  display: inline-block;
  margin: 0 50px; }
  nav ul {
    list-style-type: none; }
  nav li {
    display: inline-block;
    padding: 0 16px; }

.login {
  display: inline-block;
  font-weight: 700;
  padding: 16px 22px;
  border-left: 1px solid #30363f; }

.signup {
  border: 1px solid #ffac37;
  border-radius: 24px;
  padding: 12px 24px;
  font-weight: 700;
  transition: all 0.6s; }
  .signup:hover {
    background-color: #ffac37;
    color: #3b434e; }

/*=====  End of Header / Nav  ======*/
.text-content {
  width: 60%;
  align-self: center; }

button {
  margin: 20px 0;
  display: block;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 50px;
  padding: 16px 54px;
  transition: all 0.6s; }

/*=============================================
=                  Jumbotron                  =
=============================================*/
#jumbotron {
  height: 572px;
  width: 100%;
  display: flex; }
  #jumbotron ul {
    font-size: 0.7rem;
    padding-left: 18px; }
  #jumbotron li {
    padding-bottom: 8px; }
  #jumbotron button {
    color: #fcfcfc;
    border: none;
    background-color: #4095f6; }
    #jumbotron button:hover {
      background-color: #357cce; }

/*=====  End of Jumbotron  ======*/
/*=============================================
=                 Learn More                  =
=============================================*/
#learn-more {
  height: 475px;
  width: 100%;
  display: flex;
  background-color: #eceae7; }
  #learn-more p {
    padding-right: 170px; }
  #learn-more button {
    color: #30363f;
    background: none;
    border: 2px solid #30363f; }
    #learn-more button:hover {
      color: #eceae7;
      background-color: #30363f; }

/*=====  End of Learn More  ======*/
/*=============================================
=                 App Section                 =
=============================================*/
#apps {
  height: 460px;
  width: 100%;
  display: flex;
  background-color: gainsboro; }
  #apps .text-right {
    display: flex;
    justify-content: flex-end; }
  #apps .text-content {
    width: 50%; }
  #apps button {
    color: #30363f;
    background: none;
    border: 2px solid #30363f; }
    #apps button:hover {
      color: #eceae7;
      background-color: #30363f; }

/*=====  End of App Section  ======*/
/*=============================================
=              Download Section               =
=============================================*/
#download {
  height: 490px;
  width: 100%;
  background-color: #30363f; }

/*=====  End of Download Section  ======*/
/*=============================================
=                Trail Section                =
=============================================*/
#trial {
  height: 214px;
  width: 100%;
  background-color: #4095f6; }

/*=====  End of Trail Section  ======*/
/*=============================================
=                Footer Section               =
=============================================*/
footer {
  height: 310px;
  width: 100%;
  background-color: #3b434e; }

.footer-bottom {
  height: 54px;
  width: 100%;
  background-color: #30363f; }

/*=====  End of Footer Section  ======*/
