/*=============================================
=                Stylesheet Main              =
=============================================*/
/*----------  Imports  ----------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*=============================================
=                   Colors                    =
=============================================*/
/*=============================================
=                  Typography                 =
=============================================*/
*, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1 {
  font-weight: 300;
  font-size: 2rem; }

h2 {
  font-size: 1.4rem;
  padding-bottom: 4px; }

p {
  font-weight: 300; }

a {
  color: #fcfcfc;
  font-size: 0.8rem;
  font-weight: 400; }

a:hover {
  color: #ffac37; }

.active a {
  color: #ffac37;
  padding-bottom: 24px;
  font-weight: 600;
  border-bottom: 3px solid #ffac37; }

/*----------  Styles  ----------*/
body {
  background-color: #30363f; }

/*=============================================
=                Header / Nav                 =
=============================================*/
header {
  width: 100%;
  height: 72px;
  background-color: #3b434e; }

.container {
  width: 1000px;
  height: 72px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  flex: 2; }
  .logo img {
    width: 150px;
    padding-top: 6px; }

nav {
  display: inline-block;
  margin: 0 50px; }

ul {
  list-style-type: none; }

li {
  display: inline-block;
  padding: 0 16px; }

.login {
  display: inline-block;
  font-weight: 700;
  padding: 16px 22px;
  border-left: 1px solid #30363f; }

.signup {
  border: 1px solid #ffac37;
  border-radius: 24px;
  padding: 12px 24px;
  font-weight: 700; }
  .signup:hover {
    background-color: #ffac37;
    color: #3b434e; }

/*=====  End of Header / Nav  ======*/
/*=============================================
=                  Jumbotron                  =
=============================================*/
#jumbotron {
  margin: 72px 0;
  height: 500px;
  width: 100%; }

/*=====  End of Jumbotron  ======*/
/*=============================================
=                 Learn More                  =
=============================================*/
#learn-more {
  height: 475px;
  width: 100%;
  background-color: #e7e7e7; }

/*=====  End of Learn More  ======*/
/*=============================================
=                 App Section                 =
=============================================*/
#apps {
  height: 460px;
  width: 100%;
  background-color: gainsboro; }

/*=====  End of App Section  ======*/
/*=============================================
=              Download Section               =
=============================================*/
#download {
  height: 490px;
  width: 100%;
  background-color: #30363f; }

/*=====  End of Download Section  ======*/
/*=============================================
=                Trail Section                =
=============================================*/
#trial {
  height: 214px;
  width: 100%;
  background-color: #4095f6; }

/*=====  End of Trail Section  ======*/
/*=============================================
=                Footer Section               =
=============================================*/
footer {
  height: 310px;
  width: 100%;
  background-color: #3b434e; }

.footer-bottom {
  height: 54px;
  width: 100%;
  background-color: #30363f; }

/*=====  End of Footer Section  ======*/
