/*=============================================
=                   Colors                    =
=============================================*/

$dark-blue     :rgba(48, 54, 63, 1.0);
$blue          :rgba(59, 67, 78, 1.0);
$bright-blue   :rgba(64, 149, 246, 1.0);
$orange        :rgba(255, 172, 55, 1.0);
$white-back    :rgba(231, 231, 231, 1.0); 
$dark-white    :rgba(220, 220, 220, 1.0);
$white         :rgba(252, 252, 252, 1.0);