
/*----------  Break Point 1 - 880px  ----------*/

@media only screen and (max-width: 880px) {
    
    nav, .user {display: none}

    #nav-toggle {display: block}
    
    h1 {
        font-size:    2.7rem;
        line-height:    3rem;
        padding-bottom: 1rem;
    }

    #hero-image  {display: none}

    #jumbotron, #secure, #apps, #download { 
        .container {background-image: none}
        .text-content {width: 100%}
    }

    #jumbotron {
        background-image: url('../images/hero-mobile.png');
        background-position: top 120px right -60px;
        background-repeat: no-repeat; 
        background-size:       430px;
        .text-content {width: 70%}
    }

    #secure p {padding-right: 40px}

    #apps {
        background-image: url('../images/app-mobile.png');
        background-position: top 140px right 30px;
        background-repeat: no-repeat; 
        background-size:       280px;
        .container {padding: 40px 30px}
        .text-content {
            width: 70%;
            p {padding-right: 120px}
        }
        .text-right {justify-content: flex-start}
    }

    #trial {
        text-align: center;
        .text-content {width: 100%}
        .container{
            flex-wrap:         wrap;
            justify-content: center;
        }
    }

    .container-footer {flex-direction: column}

    .footer-left ul {
        text-align: center;
        li {
            display: inline-block;
            padding: 6px;
            a {font-size: 0.7rem}
        }
    } 

    .footer-right > .right-1, .right-2 {display: none}
    
    .copyright .container {
        display:     block;
        margin:     0 auto;
        text-align: center;
    }
}


/*----------  Break Point 2 - 740px  ----------*/

@media only screen and (max-width: 740px) {

    #jumbotron {background-position: top 140px right -160px}

}

/*----------  Break Point 3 - 600px  ----------*/

@media only screen and (max-width: 600px) {

    h2 {
        font-size: 1rem;
        padding: 0 90px 10px 0;
    }

    #jumbotron {
        padding: 100px 0 80px;
        background-position: top 160px right -230px;
        .text-content {width: 100%}
        ul {padding: 18px 135px 10px 18px}
        button {margin: 30px auto}
    }

    #secure, #download {
        text-align: center;
        .container {padding: 40px 30px}
        p {padding-right: 0px}
        button {margin: 30px auto}
    }

    #apps {
        background-image: url('../images/app-mobile.png');
        background-position:       top 130px right -100px;
        
        .text-content {
            width: 100%;
            p {padding-right: 150px}
        }
    }
}


/*----------  Break Point 4 - 440px  ----------*/

@media only screen and (max-width: 440px) {

    #apps {background-position: top 200px right -100px;
         button {margin: 70px auto 30px}
        }
}