/*=============================================
=                  Typography                 =
=============================================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*, h1, h2, h3, h4, h5, h6, p, a, small {
    font-family: 'helvetica neue', sans-serif;
    font-weight: 400;
}

h1 {
    color:          $white;
    font-weight:       300;
    font-size:        3rem;
    line-height:    3.3rem;
    padding-bottom: 1.2rem;
}

.dark {color: $dark-blue}

h2 {
    font-size: 1.4rem;
    color:    $orange;
    font-weight:  400;
    padding-bottom: 1.4rem;
}

p {
    font-size: 0.8rem;
    font-weight:  300;
    line-height:  1.5;
    padding: 10px 70px 10px 0;
}

.light {color: $white}

small {
    font-size: 0.75rem;
    color:     $white;
    opacity:      0.3;
    padding-bottom: 1.4rem;
}

span {font-weight: 600}

a {
    color:     $white;
    font-size: 0.8rem;
    font-weight:  400;
}

a:hover {color: $orange}

.active a {
    color:       $orange;
    padding-bottom: 24px;
    font-weight:     600;
    border-bottom: 3px solid $orange;
}

li {color: $white}