/*=============================================
=                Stylesheet Main              =
=============================================*/


/*----------  Imports  ----------*/
@import "normalise";
@import "colors";
@import "typography";


body {background-color: $dark-blue}


/*=============================================
=                Header / Nav                 =
=============================================*/

header {
    width:  100%;
    height: 72px;
    background-color: $blue;
}

.container {
    width:   1080px;
    padding: 0 30px;
    margin:  0 auto;
    display:   flex;
    align-items: center;
    justify-content: space-between;
}

.container-nav {
    height: 72px;
    padding: 0 30px;
    margin:  0 auto;
    display:   flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    overflow: hidden;

    .logo {
        flex-grow: 2;
        img {
            width:     150px;
            padding-top: 6px;
        }
    }
}

nav {
    display: inline-block;
    margin:        0 14px;
    flex-shrink: 2;

    ul {list-style-type: none}

    li {
        display: inline-block;
        padding:       0 16px;
    }
}


.login {
    display: inline-block;
    font-weight:      700;
    padding:    16px 22px;
    border-left: 1px solid $dark-blue;
}

.signup {
    border-radius: 24px;
    padding:  10px 26px;
    font-weight:    700;
    border: 1px solid $orange;
    transition:      all 0.6s;

    &:hover {
        color:              $blue;
        background-color: $orange;
    }
}

#menu {
    height: auto;
    padding: 40px 0 80px;
    width: 100%;
    position: absolute;
    background-color: $blue;
    z-index: 2;
    text-align: center;

    ul {list-style-type: none}

    li { padding: 10px 0;
        a {font-size: 2rem}
        .login {
            border: none;
            font-size: 1.4rem;
            margin: 6px 0 0;
        }
        .signup {font-size: 1rem;
            margin: 0;
        }
    }
}

.hidden {
    display: none;
}

#nav-toggle {
    display: none;
}

#nav-toggle span {
    position: absolute;
    right: 30px;
    top: 34px;
}

#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: $orange;
  position: absolute;
  display: block;
  content: '';
  &:active {

  background: $white;
  }
}

#nav-toggle span:before {top: -10px}

#nav-toggle span:after {bottom: -10px}

/*=====  End of Header / Nav  ======*/


/*=============================================
=           Sections Shared Styles            =
=============================================*/

section {
    width:   100%;
    display: flex;
}

.text-content {
    width:         50%;
    align-self: center;
}

button {
    margin: 0;
    display:    block;
    font-weight:  500;
    color: $dark-blue;
    background:  none;
    font-size:    0.8rem;
    border-radius:  50px;
    padding:   16px 52px;
    margin: 32px 0 20px;
    transition: all 0.4s;
    border: 2px solid $dark-blue;

    &:hover {
        color: $white-back;
        background-color: $dark-blue;
    }
}

/*=====  End of Sections Shared Styles  ======*/



/*=============================================
=                  Jumbotron                  =
=============================================*/

#jumbotron {
    height: auto;
    padding: 80px 0;

    ul {
        font-size:  0.8rem;
        padding: 18px;
    }

    li {padding-bottom: 8px}

    button {
        color:  $white;
        background-color: $bright-blue;

        &:hover {
            background-color: desaturate(darken($bright-blue, 10), 40);
        }
    }
}


#hero-image  {
    top:     72px;
    left:     49%;
    width:  50%;
    height: 600px;
    position: absolute;
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat; 
    background-size:      contain;
    background-position: top left 10%;
}

/*=====  End of Jumbotron  ======*/



/*=============================================
=               Secure Section                =
=============================================*/

#secure {
    height: auto;
    background-color: $white-back;

    .container {
        padding: 100px 30px 80px;
        background-image: url('../images/safe.png');
        background-position:  top 110px right 40px;
        background-repeat: no-repeat;
        background-size:       320px;
    }

    .text-content {width: 60%}

    p {padding-right: 170px}
}

/*=====  End of Secure Section  ======*/



/*=============================================
=                 App Section                 =
=============================================*/

#apps {
    height: auto;
    background-color: $dark-white;

    .container {
        padding: 80px 30px;
        background-image: url('../images/drive.png');
        background-position:      top 40px left -20px;
        background-repeat: no-repeat;
        background-size:       440px;
    }

    .text-right {
        display: flex;
        justify-content: flex-end;
    }

    .text-content {width: 50%}
}

/*=====  End of App Section  ======*/



/*=============================================
=              Download Section               =
=============================================*/

#download {
    height: auto;
    background-color: $dark-blue;

    .container {
        padding: 100px 30px;
        background-image: url('../images/download.png');
        background-position:       top 50px right 40px;
        background-repeat: no-repeat;
        background-size:       310px;
    }

    .text-content {width: 50%}

    p {padding-right: 70px}

    button {
        color: $white;
        border: 2px solid $white;

        &:hover {
            color:        $dark-blue;
            background-color: $white;
        }
    }
}

/*=====  End of Download Section  ======*/



/*=============================================
=                Trail Section                =
=============================================*/

#trial {
    height: auto;
    padding: 60px 0;
    background-color: $bright-blue;

    .text-content {width: 70%}

    button {
        color: $white;
        border: 2px solid $white;

        &:hover {
            color:      $bright-blue;
            background-color: $white;
        }
    }

}

/*=====  End of Trail Section  ======*/



/*=============================================
=                Footer Section               =
=============================================*/

footer {
    padding: 50px 0;
    height:   auto;
    width:     100%;
    background-color: $blue;
    font-weight: 400;

    ul {list-style-type: none}

    .container-footer { 
        padding: 0 30px;
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo {
        
        margin: 0 auto;
        img {
            width:     150px;
            padding-top: 6px;
        }
    }

    .footer-left {
        padding: 6px 100px;
        opacity: 0.8;
        flex: 1;
        margin: 0 auto;

        li {
            padding: 6px 0;

            a {font-size: 1rem}
        }
    }

    .footer-right {
        font-size: 0.8rem;
        display: flex;
        margin: 0 auto;
        .right-1, .right-2 {
            padding: 0 0 0 72px;
            li {
                padding: 6px 0;
            }
        }
    }
}


.copyright {
    height:  auto;
    width:   100%;
    padding: 10px 0;
    background-color: $dark-blue;

    
    ul {list-style-type: none}

    li {
        display: inline-block;
        padding: 6px 12px;
        a {
            font-size: 0.7rem;
            opacity: 0.6;
        }   
    }
}

/*=====  End of Footer Section  ======*/


@import "media-queries";