/*=============================================
=                Stylesheet Main              =
=============================================*/


/*----------  Imports  ----------*/
@import "normalise";
@import "colors";
@import "typography";


body {background-color: $dark-blue}


/*=============================================
=                Header / Nav                 =
=============================================*/

header {
    width:  100%;
    height: 72px;
    background-color: $blue;
}

.container {
    width:   1000px;
    padding: 0 20px;
    margin:  0 auto;
    display:   flex;
    align-items: center;
    justify-content: space-between;
}

.container-nav {
    height: 72px;
}

.logo {
    flex: 2;
    img {
        width:     150px;
        padding-top: 6px;
    }
}

nav {
    display: inline-block;
    margin:        0 50px;
    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
        padding:       0 16px;
    }
}


.login {
    display: inline-block;
    font-weight:      700;
    padding:    16px 22px;
    border-left: 1px solid $dark-blue;
}

.signup {
    border: 1px solid $orange;
    border-radius:       24px;
    padding:        12px 24px;
    font-weight:          700;
    transition:      all 0.6s;
    &:hover {
        background-color: $orange;
        color:              $blue;
    }
}

/*=====  End of Header / Nav  ======*/

.text-content {
    width:           60%;
    align-self:   center;
}

button {
    margin:    20px 0;
    display:    block;
    font-weight:  500;
    color: $dark-blue;
    background:  none;
    font-size:    0.8rem;
    border-radius:  50px;
    padding:   16px 54px;
    transition: all 0.6s;
    border: 2px solid $dark-blue;

    &:hover {
        color: $white-back;
        background-color: $dark-blue;
    }
}


/*=============================================
=                  Jumbotron                  =
=============================================*/

#jumbotron {

    height:  572px;
    width:    100%;
    display:  flex;

    ul {
        font-size:  0.7rem;
        padding-left: 18px;
    }

    li {padding-bottom: 8px}

    button {
        color:  $white;
        background-color: $bright-blue;

        &:hover {
            background-color: desaturate(darken($bright-blue, 10), 30);
        }
    }
}

/*=====  End of Jumbotron  ======*/



/*=============================================
=                 Learn More                  =
=============================================*/

#learn-more {
    height: 475px;
    width:   100%;
    display: flex;
    background-color: $white-back;

    p {padding-right: 170px}
}

/*=====  End of Learn More  ======*/




/*=============================================
=                 App Section                 =
=============================================*/

#apps {
    height: 460px;
    width:   100%;
    display: flex;
    background-color: $dark-white;

    .text-right {
        display: flex;
        justify-content: flex-end;
    }

    .text-content {width: 50%}
}

/*=====  End of App Section  ======*/



/*=============================================
=              Download Section               =
=============================================*/

#download {
    height: 490px;
    width:   100%;
    background-color: $dark-blue;
}


/*=====  End of Download Section  ======*/



/*=============================================
=                Trail Section                =
=============================================*/

#trial {
    height: 214px;
    width:   100%;
    background-color: $bright-blue;
}

/*=====  End of Trail Section  ======*/



/*=============================================
=                Footer Section               =
=============================================*/

footer {
    height: 310px;
    width:   100%;
    background-color: $blue;
}

.footer-bottom {
    height:  54px;
    width:   100%;
    background-color: $dark-blue;
}
/*=====  End of Footer Section  ======*/



@import "media-queries";
